body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 2%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1 {
  color: #ffffff;
  font-size: 56px;
  line-height: 107%;
}

h2 {
  font-size: 36px;
  line-height: 111%;
}

h3 {
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
}

h1,
h2 {
  text-align: center;
}

p {
  color: #434455;
}

address {
  color: #434455;
}

.menu-item {
  font-weight: 500;
}

.menu-item:hover,
.menu-item:focus,
.contact-item:hover,
.contact-item:focus {
  color: #404bbf;
}

button {
  background-color: #4d5ae5;
  letter-spacing: 4%;
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
  border: none;
  text-align: center;
}

button:hover {
  background-color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 117%;
  letter-spacing: 3%;
  color: #4d5ae5;
}

.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

.team-item > h3,
.team-item > p {
  text-align: center;
}

.logo > .studio {
  color: #2e2f42;
}

footer > .logo > .studio {
  color: #f4f4fd;
}

footer > p {
  color: #f4f4fd;
}

footer,
.hero {
  background-color: #2e2f42;
}
